@import "tailwindcss";
/* دکمه */
.steam-button {
  position: relative;
  width: 300px;
  height: 80px;
  overflow: hidden;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  font-weight: 600;
  letter-spacing: 0.05em;
  cursor: pointer;
}

/* بخار */
.steam-long {
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 9999px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  filter: blur(6px);
  animation: steamLoop 15s ease-in-out infinite;
  pointer-events: none;
  position: absolute;
}

/* انیمیشن بخار */
@keyframes steamLoop {
  0% {
    transform: translate(0, 0) scale(0.4);
    opacity: 0.6;
  }
  50% {
    transform: translate(0, -30px) scale(1.8);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) scale(0.4);
    opacity: 0.6;
  }
}
